{% macro show(message, category=None, closable=True) %}
  {# bootstrap4 标准 alert类型如下： #}
  {% set categories = ['primary',
                       'secondary',
                       'success',
                       'danger',
                       'warning',
                       'info',
                       'light',
                       'dark'] %}

  {# 未找到，或没设置类型，默认设置 'alert-danger' #}
  {% if category in categories %}
    {% set cate = category %}
  {% else %}
    {% set cate = 'danger' %}
  {% endif %}

  {% if message %}
    <div class="alert alert-{{ cate }} alert-dismissible fade show" role="alert">
      {{ message }}
      {% if closable %}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      {% endif %}
    </div>
  {% endif %}

{% endmacro %}


{% macro show_from_server() %}
  {# 显示服务器flashed的消息 #}
  {% for (category, message) in get_flashed_messages(with_categories=True) %}
    {{ show(message, category) }}
  {% endfor %}
{% endmacro %}


{% macro show_and_from_server(messages) %}
  {# 服务器flashed消息优先显示 #}
  {{ show_from_server() }}

  {# 单字符串直接显示 #}
  {% if is_str(messages) %}

    {{ show(messages) }}

  {% elif is_list(messages) %}
    {% for message in messages recursive %}

      {% if is_list(message) or is_tuple(messsage) %}
        {# 递归打印 list/tuple 消息 #}
        {{ loop(message) }}

      {% elif is_dict(message) %}
        {# 列表项是一个dict，且有'message' 'categor' 'closable' #}
        {{ show(message['message'], message['category'], message['closable']) }}

      {% else %}
        {# 其他类型直接显示(内部将按照__str__处理) #}
        {{ show(message) }}
      {% endif %}

    {% endfor %}

  {% endif %}
{% endmacro %}